

body, html {
  background-color:#EBECF0;
  
  
}

body, p, input, select, textarea, button {
    letter-spacing: -0.2px;
    font-size:16px;
    text-align: center;
   
   
}

div, p {
  color:#BABECC;;
  text-shadow: 1px 1px 1px #FFF;
 
}


form {
  padding:16px;
  width:16px*20;
  margin: 0 auto;
 
}

.segment {
  padding:16px*2 0;

}

button, input {
  border: 0;
  outline: 0;
  font-size:16px;
  border-radius:16px*20;
  padding:16px;
  background-color:#EBECF0;
  text-shadow: 1px 1px 0 #FFF;
  border-radius: 2vw;
  margin: 1vw;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 16px*1.5;
  width: 50%;
  text-align: center;
  position: relative;
  left:22vw;
}

input {
  margin-right:16px/2;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 2vw;
  text-align: center;
  
}

button {
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}
  
  
  
  .icon {
    margin-right: 16px/2;
    text-align: center;
  }
  
  .unit {
    border-radius: 16px/2;
    line-height: 0;
    width: 16px*3;
    height: 16px*3;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    margin: 0 16px/2;
    font-size: 16px*1.2;
    }
    
    .icon {
      margin-right: 0; 
     
    }
  
  
 

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  
}